:root {
  --main-red: #da082f;
}

@font-face {
  font-family: titles;
  src: url(../assets/fonts/LilitaOne-Regular.ttf);
}

body {
  font-family: raleway, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 20px;
  width: 100%;
  position: fixed;
  transition: all 0.25s;
  z-index: 10;

  img {
    width: 260px;
    margin-left: 50px;
  }

  #links {
    margin-right: 50px;

    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    font-weight: bold;
    a {
      text-decoration: none;
      color: black;
      transition: all 0.25s;
    }

    #formacion-dropdown,
    #nosotros-dropdown {
      text-decoration: none;
      color: black;
      transition: all 0.25s;
      position: relative;
      padding-bottom: 20px; /* espacio que evita huecos */
    }

    a:hover {
      color: var(--main-red);
      span {
        color: black;
      }
    }

    .extra-info {
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.327);
      position: absolute;
      display: none;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      background-color: white;
      padding: 20px;
      gap: 20px;
      width: 200px;
      top: 100%; /* justo debajo */
      left: 0;
      margin-top: 0; /* quita el hueco que causa el problema */
      transition: all 0.25s;
      z-index: 2;

      span {
        transition: all 0.25s;
      }
      span:hover {
        cursor: pointer;
        color: var(--main-red);
      }
    }
  }
}

.scrolled {
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: -10px;
  font-size: 20px;
  background-color: var(--main-red);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: darkred;
  transform: scale(1.05);
}

/*EFECTO DE HOVER Y MOSTRAR INFO ADICIONAL*/
#formacion-dropdown:hover > .extra-info {
  display: flex;
}

#nosotros-dropdown:hover > .extra-info {
  display: flex;
}

#hero {
  transition: all 0.25s;
  animation: appear 1s linear forwards;
  border-bottom-left-radius: 700px 30px;
  border-bottom-right-radius: 700px 30px;
  box-shadow: 0 30px 0px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 85vh;
  background-color: snow;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  #info {
    width: 50%;
    position: relative;

    h1 {
      font-family: titles;
      font-size: 80px;
      font-weight: 500;
      color: var(--main-red);
      transition: all 0.25s;
    }

    h2 {
      margin-top: -30px;
      font-size: 35px;
      font-weight: 100;
      color: black;

      b {
        font-weight: bold;
      }
    }

    p {
      width: 70%;
      text-align: justify;
      line-height: 30px;
      font-size: 25px;
      color: lightslategray;
    }
  }

  #decoracion-hero {
    left: 200px;
    position: relative;
    width: contain;

    #lineas {
      position: relative;
      margin-top: 100px;
      width: 800px;
      z-index: 0;
      transition: all 0.25s;
      animation: lineas-appear 0.75s linear alternate;
    }

    #personas {
      position: absolute;
      filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.623));
      width: 1000px;
      top: 150px;
      right: -50px;
      z-index: 0;
      transition: all 0.25s;
      animation: personas-appear 0.75s linear forwards;
    }
  }
}

@keyframes underline {
  from {
    text-decoration: none;
  }
  to {
    text-decoration: underline;
  }
}

@keyframes lineas-appear {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes personas-appear {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
