:root {
  --main-red: #db0930;
}

body {
  font-family: raleway, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 100%;
  position: fixed;
  transition: all .25s;

  img {
    width: 260px;
  }

  #links {
    display: flex;
    gap: 20px;
    a {
      text-decoration: none;
      color: black;
      transition: all 0.25s;
    }

    #formacion-dropdown, #nosotros-dropdown {
      text-decoration: none;
      color: black;
      transition: all 0.25s;
      position: relative;
      padding-bottom: 20px; /* espacio que evita huecos */

    }

    a:hover {
      color: var(--main-red);
      span {
        color: black;
      }
    }

    .extra-info {
      position: absolute;
      display: none;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      background-color: white;
      padding: 20px;
      gap: 20px;
      width: 200px;
      top: 100%; /* justo debajo */
      left: 0;
      margin-top: 0; /* quita el hueco que causa el problema */
      transition: all 0.25s;

      span {
        transition: all 0.25s;
      }
      span:hover {
        cursor: pointer;
        color: var(--main-red);
      }
    }
  }
}

.scrolled {
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*EFECTO DE HOVER Y MOSTRAR INFO ADICIONAL*/
#formacion-dropdown:hover > .extra-info {
  display: flex;
}

#nosotros-dropdown:hover > .extra-info {
  display: flex;
}

#hero {
  border-bottom-left-radius: 700px 30px;
  border-bottom-right-radius: 700px 30px;
  box-shadow: 0 30px 0px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 750px;
  background-image: url("../assets/images/woman-3190829_1920.jpg");
  background-size: cover;
  background-position: 40%;

  #info {
    width: 40%;
    position: relative;
    top: 200px;
    left: 300px;

    h1 {
      font-size: 40px;
      font-weight: 500;
    }

    h2 {
      font-size: 28px;
      font-weight: 100;
      color: var(--main-red);
    }

    p {
      width: 70%;
      text-align: justify;
      line-height: 30px;
    }
  }
}


/*seccion de igualdad*/

#igualdad {

  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  margin: 50px;

  h1 {
    font-size: 36px;
    font-weight: 500;
  }

  p {
    width: 100%;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
  }

  aside img{
    width: 400px;
  }
}